<html lang="pt-BR">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <script src="js/index.js"></script>
  </head>

  <body>
    <div id="app">
      <header class="container">
        <nav>
          <ul>
            <a href="http://localhost:3333" style="display: flex">
              <i class="ph ph-sign-in"></i>
              <span>Login</span>
            </a>

            <a href="http://localhost:3333/registrar" style="display: flex">
              <i class="ph ph-user"></i>
              <span>Registrar</span>
            </a>
            <a href="http://localhost:3333/contatos" style="display: flex">
              <i class="ph ph-address-book"></i>
              <span>Agenda de contados</span>
            </a>
          </ul>
        </nav>
      </header>
      {{{body}}}
      <footer class="container">
        <p>Feito com 🧠 pelo &lt;joaoc /&gt;
        </p>
      </footer>
    </div>
  </body>

</html>